.pc
  &-title1
    font-size: 64px
    font-weight: 700
    line-height: 84px
    margin: 24px 0 80px

  &-title2
    font-size: 24px
    font-weight: 700
    line-height: 39px

  &-sub-title1
    font-size: 24px
    font-weight: 500
    line-height: 36px

  &-sub-title6
    font-size: 23px
    font-weight: 600
    line-height: 38px

  &-sub-title7
    color: #6e6e73

    font-size: 21px
    font-weight: 500
    line-height: 27px

  &-sub-title2
    font-size: 44px
    font-weight: 700
    line-height: 58px
    margin: 8px 0 24px

  &-sub-title3
    text-align: center
    font-size: 44px
    font-weight: 700
    line-height: 58px
    padding-bottom: 54px

  &-title4
    text-align: center
    font-size: 44px
    font-weight: 700
    line-height: 58px
    padding: 118px 0 34px
    background-image: url("/images/landing/background.png")

  &-sub-title4
    text-align: center
    font-size: 23px
    font-weight: 600
    line-height: 38px

  &-title6
    font-size: 60px
    font-weight: 700
    line-height: normal
    margin: 24px 0 48px

  &-title8
    font-size: 52px
    font-weight: 700
    line-height: 70px
    margin-top: 24px

  &-span
    font-size: 32px
    font-style: normal
    font-weight: 600
    line-height: 39px

  &-score
    text-align: center
    margin: 0
    font-size: 120px
    font-style: normal
    font-weight: 700

  &-wrapper
    max-width: 980px
    margin: 0 auto
    padding: 152px 0

  &-wrapper1
    max-width: 980px
    margin: 0 auto
    padding-top: 216px
    height: 100vh
    display: grid
    grid-template-columns: auto 1fr
    gap: 80px
    div
      width: 362px

  &-wrapper2
    margin-top: 26px
    display: flex
    justify-content: space-between
  /* padding: 160px 0 */

  &-wrapper5
    height: 961px
    margin: 0
    align-items: center
    display: flex
    text-align: center

    div
      flex: 1
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center

    .item1
      height: 100%
      font-size: 60px
      font-weight: 700
      line-height: normal
      background-image: url("/images/landing/background.png")
      border: 1px solid #424245
      border-left: none

    .item2
      height: 100%
      display: flex
      flex-direction: column

    .item3
      width: 100%
      gap: 12px
      border-top: 1px solid #424245
      border-bottom: 1px solid #424245

      &:not:last-child
        border-bottom: none

  &-wrapper4
    margin: 0 auto
    border-top: 1px solid #424245

  &-main4
    // max-width: 980px
    margin: 0 auto
    display: flex
    padding: 123px 0
    position: relative

    div
      flex: 1

    .bar
      width: 1px
      height: 320px
      position: absolute
      left: 50%
      background-image: url("/images/landing/bar.png")

  &-wrapper7
    margin: 106px 0
    height: 400vh
    text-align: center
    position: relative

  &-title7
    font-size: 21px
    font-weight: 700
    line-height: 27px
    width: 280px
    left: calc(50% + 230px)
    position: absolute
    top: calc(40vh)

    text-align: start

  &-img-cont
    height: 80vh
    position: sticky
    top: 106px
    z-index: 4

  &-img-cont2
    position: sticky
    top: 106px
    z-index: 4

  &-wrapper8
    text-align: center
    max-width: 980px
    margin: 0 auto
    padding: 126px 0

  &-main
    color: #6e6e73
    font-size: 14px
    font-weight: 500
    line-height: 20px
    p
      margin-top: 24px
      font-size: 16px
      font-weight: 700
      line-height: 24px
      color: white
  
  &-main3
    text-align: center
    padding: 80px 0

  &-wrapper9
    background: #151516
    flex-direction: column
    align-items: center
    justify-content: center

  &-main9
    text-align: center
    padding: 120px 0 122px
    max-width: 980px
    margin: 0 auto
  //수정예정

  &-box
    width: 233px
    padding: 32px
    box-sizing: border-box
    border-radius: 18px
    border: 1px solid #222223
    display: grid
    grid-template-rows: 1fr auto
    font-size: 20px
    font-weight: 600
    line-height: 28px
    background: rgba(255, 255, 255, 0.08)
    span
      font-size: 14px
      font-weight: 500
      line-height: 22px
      margin-top: 16px

  &-box-wrapper
    display: grid
    gap: 16px
    grid-template-columns: repeat(4, 1fr)
    margin-top: 80px

  &-btn
    background: #fff
    width: 210px
    height: 50px
    border-radius: 25px
    font-size: 14px
    font-weight: 600
    cursor: pointer

  &-main-btn
    background: #fff
    position: fixed
    bottom: 50px
    left: 50%
    transform: translate(-50%, 0)
    width: 210px
    height: 50px
    border-radius: 25px
    font-size: 14px
    font-weight: 600
    cursor: pointer
    z-index: 999
    border-radius: 25px
    border: 1px solid #000
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3), 0px 8px 12px 6px rgba(0, 0, 0, 0.15)

  &-box8
    text-align: start
    width: 318px
    height: 306px
    padding: 32px
    box-sizing: border-box
    border-radius: 18px
    border: 1px solid #222223

    background: rgba(255, 255, 255, 0.08)

  &-bot-title
    font-size: 20px
    font-weight: 600

  &-box-description
    display: block
    font-size: 14px
    font-weight: 500
    line-height: 22px
    margin: 16px 0

  &-box-ex-cost
    font-size: 13px
    opacity: 0.4
    font-weight: 500
    line-height: 20px //153.846%
    text-decoration: line-through

  &-box-now-cost
    font-size: 36px
    font-weight: 700
    span
      font-size: 32px
      font-weight: 400

  &-box-btn
    font-size: 16px
    font-weight: 600
    background: #fff
    width: 250px
    height: 40px
    border-radius: 20px
    font-size: 14px
    font-weight: 600
    cursor: pointer

  &-box-wrapper8
    display: grid
    gap: 16px
    grid-template-columns: repeat(3, 1fr)
    margin: 80px auto 0

  &-list-cont
    display: grid
    gap: 50px
    grid-template-columns: repeat(3, auto)
    font-size: 20px
    font-style: normal
    font-weight: 500
    opacity: 0.6
    margin: 52px 0 80px

  &-list-item
    img
      vertical-align: middle
      margin-right: 9px
